.ant{
  &-radio {
    &-group {
      @extend .d-flex;
      margin-bottom: .2rem;
    }
    &-button {
      &-wrapper {
        width: 100%;
        @extend .list-item;
        @extend .list-item-action;
        background: $white;
        border: 0;
        border-radius: 0!important;
        span {
          // @extend .d-flex;
          // @extend .justify-content-center;
          // @extend .align-items-center;
          width: 100%;
          text-align: center;
        }
        &:first-child{
          border-left: 0 ;
          border-top-left-radius: $pengyi-border-radius!important;
          border-bottom-left-radius: $pengyi-border-radius!important;
          // @include border-left-radius($pengyi-border-radius)
        }
        &:last-child{
          border-top-right-radius: $pengyi-border-radius!important;
          border-bottom-right-radius: $pengyi-border-radius!important;
        }
        &-checked {
          color: $pengyi-1;
          font-weight: $font-weight-bold;
          box-shadow: $pengyi-shadow;
         
          &:first-child, &:last-child{
            border-color: transparent;
          }
        }
      }
    }
  }
}

// Vertical Radio Menu
.ant-radio-group-vertical{
  flex-direction: column;
  .ant-radio-button-wrapper {
    // display: block;
    border-radius: $pengyi-border-radius!important;
    
  }
}

.ant-radio-group-circles {
  .ant-radio-button-wrapper {
    // display: inline-block;
    // height: 3rem;
    // width: 3rem;
    padding: .2rem;
    height: auto;
    font-size: .8rem;
    text-align: center;
    img {
      height: 3rem;
      width: 3rem;
      border-radius: $pengyi-border-radius*.8!important;
    }
    &::before {display: none;}
  }
}
