@import "theme/bootstrap.scss";
// html,
// body {
//   width: 100vw;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   position: relative;

//   #__next {
//     overflow-x: hidden;
//     background-color: #343a40;
//     height: 100vh;
//     width: 100vw;
//     top: 0;
//     left: 0;
//     position: relative;
//   }
// }

.bg-gradient {
  @include gradient-y(#e8ebf5, #ffffff);
}
.bg-gradient-dark {
  @include gradient-directional(#2A85D6, #10469A, 45deg)
}
.rounded-top-lg {
  @include border-top-radius(1rem)
}
.mt-neg {
  margin-top: -1rem;
  &-lg {margin-top: -2rem}
}
.pb-bottom-app {
  padding-bottom: 9rem;
}
ul.list-calendar {
  list-style:none;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  @extend .mt-2;
  @extend .mb-4;

  li {
    display: inline-block;
    @extend .h5;
    @extend .px-1;
    @extend .mx-2;
    &.active { @extend .font-weight-bold; text-decoration: underline;}
  }
}
